* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFF9C4; /* Light pink */
}

.header {
    background-color: #FFF9C4; /* Light pink */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.icon:hover {
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.menu-item {
    padding: 10px 15px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    display: inline-block;
    border: none;
    background: transparent;
    transition: color 0.3s;
}

.menu-item:hover {
    color: #ff7b00;
}


.front-image {
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    max-width: 300px; /* Adjust the max-width to fit the container */
    max-height: 100%; /* Adjust the max-height to fit the container */
    width: auto;
    height: auto;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}



.image-container {
    position: relative;
    width: 100%;
    height: 500px; /* Add a fixed height */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.slide img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.slide.active {
    opacity: 1;
}

.mobile-menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: -30px;
    z-index: 2;
}

.menu-item:hover .dropdown-content {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    max-width: 1200px; /* Add this line */
    margin-left: auto;
    margin-right: auto;
}

.cupcake-item {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    border: 1px solid #58d5f5; /* Bubblegum blue */
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box; /* Add this line */
}

.cupcake-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover; /* Add this line */
}

.cupcake-item h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px
}

.cupcake-item p {
font-size: 16px;
margin-bottom: 20px;
}

.cupcake-item span {
font-size: 20px;
font-weight: bold;
color: #58d5f5; /* Bubblegum blue */
display: block;
margin-top: 20px;
}

/* Styles for mobile screens */
@media (max-width: 767px) {
  main p {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cupcake-item {
    width: 100%;
    max-width: 400px; /* You can adjust this value to your preferred max-width */
  }
  
  .horizontal-menu {
    display: none;
  }

  .header-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
.icon-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 100px;
    text-align: center;
}
  
.title-icons-wrapper {
    display: inline-block;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
}

  .title {
    text-align: center;
  }

.icon {
    font-size: 24px;
    cursor: pointer;
}
  
}

/* Styles for desktop screens */
@media (min-width: 768px) {
  .icon {
    display: none;
  }
}

/* Update the dropdown-menu styles */
.dropdown-menu {
display: none;
position: absolute;
top: 300px; /* Adjust this value if needed */
background-color: #fff;
border: 1px solid #58d5f5; /* Bubblegum blue */
border-radius: 5px;
z-index: 1000;
width: 80%; /* Set the width to 80% of the screen */
max-height: 75vh; /* Set the height to 75% of the viewport height */
overflow-y: auto; /* Make the menu scrollable */
margin-left: auto;
margin-right: auto;
left: 50%;
transform: translateX(-50%);
background-color: #f0f0f0;
}

.dropdown-menu-item {
display: block;
text-align: center;
padding: 15px 20px; /* Increase padding for larger font size */
border-bottom: 1px solid #58d5f5; / Bubblegum blue /
cursor: pointer;
font-size: 18px; / Increase font size */
}

.dropdown-menu-item:last-child {
border-bottom: none;
}

.dropdown-menu-item:hover {
background-color: #58d5f5; /* Bubblegum blue */
color: #fff;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 350px;
  height: auto;
  margin-bottom: 10px; /* Add some space below the logo */
}


/* Contact Page Styles */
.contact-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
}

.contact-page h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.contact-page p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-details,
.pickup-delivery-info {
    font-size: 18px;
    margin-bottom: 40px;
}

.contact-details h2,
.pickup-delivery-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-form {
    margin-bottom: 40px;
}

.contact-form h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form input[type='tel'],
.contact-form textarea {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #58d5f5; /* Bubblegum blue */
    border-radius: 5px;
}

.contact-form textarea {
    resize: none;
}

.contact-form input[type='submit'] {
    font-size: 18px;
    font-weight: bold;
    background-color: #58d5f5; /* Bubblegum blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-form input[type='submit']:hover {
    background-color: #36c4f0;
}

/* Font and paragraph styles */
.about-section {
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
    padding: 40px;
    position: relative;
    overflow: hidden;
}

/* Background image styles */
.background-image {
    position: absolute;
    width: 100%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: brightness(85%);
}

/* Add specific background images to each .background-image div */
.bg-image-1 {
    top: 0;
    background-image: url('https://i.imgur.com/YpdFtRJ.jpg');
}

.bg-image-2 {
  height: calc(60% - 20px); /* Adjust the '50px' value to your desired buffer size */
    top: 50%;
    background-image: url('https://i.imgur.com/jQ6CaA0.jpg');
}


/* Add styles for the text boxes */
.text-box {
    position: relative;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
}

/* Update the position of the text boxes */
.text-box:first-of-type {
    float: left;
    margin-left: 20%;
    margin-top: 5%;
}

.text-box:last-of-type {
    float: right;
    margin-right: 10%;
    margin-top: 5%;
}

.text-box-1 {
    left: 10%; /* Adjust percentage value to position the box */
}

.text-box-2 {
    right: 10%; /* Adjust percentage value to position the box */
}

.text-box-3 {
    left: 20%; /* Adjust percentage value to position the box */
}

.text-box-4 {
    right: 20%; /* Adjust percentage value to position the box */
}


/* Header title and subtitle styles */
.about-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}


.about-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.about-section p {
    margin-bottom: 20px;
    text-align: justify;
}

.footer-heading a {
    text-decoration: none;
    color: #000;
}

.footer-heading a:hover {
    text-decoration: underline;
}

.footer:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
}


.footer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer-heading {
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 14px;
    color: #777;
    text-align: center;
}

.social-icon {
    color: #333;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #0077b6;
    text-decoration: none;
}


/* ... existing styles ... */

/* Add these styles */
.section-title {
  font-size: 1.5em;
  text-align: center;
  margin: 2em 0;
}

.divider {
  border-top: 2px solid #ccc;
  margin: 1em 0;
}

.seasonal-cupcake-container {
  text-align: center;
}

.cupcake-item.seasonal {
  height: auto; /* Adjust height to fit the new content */
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 1em;
  margin: 1em;
}

/* Make the image of the seasonal cupcake larger */
.cupcake-item.seasonal img {
  width: 50%;
  height: auto;
  object-fit: cover;
}
