* {
  box-sizing: border-box;
}

.slideshow-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.slide img {
  width: 100%;
}

.slide.active {
  opacity: 1;
}
