* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFF9C4; /* Light pink */
}

.header {
    background-color: #FFF9C4; /* Light pink */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.icon:hover {
    background-color: #999;
    border: 1px solid #666;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.menu-item {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #58d5f5; /* Bubblegum blue */
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 5px;
}

.menu-item:hover {
    border: 1px solid #666;
    cursor: pointer;
}

.footer {
    background-color: #FFF9C4; /* Updated color to yellow */
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-image {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.footer-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.social-media-links {
    text-align: center;
}

.social-media-links a {
    text-decoration: none;
    color: #000;
    margin: 0 5px;
}

.social-media-links a:hover {
    text-decoration: underline;
}

.footer-heading a {
    text-decoration: none;
    color: #000;
}

.footer-heading a:hover {
    text-decoration: underline;
}

.front-image {
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    max-width: 300px; /* Adjust the max-width to fit the container */
    max-height: 100%; /* Adjust the max-height to fit the container */
    width: auto;
    height: auto;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}



.image-container {
    position: relative;
    width: 100%;
    height: 500px; /* Add a fixed height */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.slide img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.slide.active {
    opacity: 1;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    max-width: 1200px; /* Add this line */
    margin-left: auto;
    margin-right: auto;
}

.cupcake-item {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    border: 1px solid #58d5f5; /* Bubblegum blue */
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box; /* Add this line */
}

.cupcake-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover; /* Add this line */
}

.cupcake-item h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px
}

.cupcake-item p {
font-size: 16px;
margin-bottom: 20px;
}

.cupcake-item span {
font-size: 20px;
font-weight: bold;
color: #58d5f5; /* Bubblegum blue */
display: block;
margin-top: 20px;
}

/* Styles for mobile screens */
@media (max-width: 767px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cupcake-item {
    width: 100%;
    max-width: 400px; /* You can adjust this value to your preferred max-width */
  }
  
  .horizontal-menu {
    display: none;
  }

  .header-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  .title-icons-wrapper {
    display: flex;
    align-items: center;
  }

  .title {
    text-align: center;
  }

  .icon {
    position: absolute;
    right: 0;
    padding-right: 10px;
    cursor: pointer;
  }
}

/* Styles for desktop screens */
@media (min-width: 768px) {
  .icon {
    display: none;
  }
}

/* Update the dropdown-menu styles */
.dropdown-menu {
display: none;
position: absolute;
top: 60px; /* Adjust this value if needed */
background-color: #fff;
border: 1px solid #58d5f5; /* Bubblegum blue */
border-radius: 5px;
z-index: 1000;
width: 80%; /* Set the width to 80% of the screen */
max-height: 75vh; /* Set the height to 75% of the viewport height */
overflow-y: auto; /* Make the menu scrollable */
margin-left: auto;
margin-right: auto;
left: 50%;
transform: translateX(-50%);
background-color: #f0f0f0;
}

.dropdown-menu-item {
display: block;
text-align: center;
padding: 15px 20px; /* Increase padding for larger font size */
border-bottom: 1px solid #58d5f5; / Bubblegum blue /
cursor: pointer;
font-size: 18px; / Increase font size */
}

.dropdown-menu-item:last-child {
border-bottom: none;
}

.dropdown-menu-item:hover {
background-color: #58d5f5; /* Bubblegum blue */
color: #fff;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 350px;
  height: auto;
  margin-bottom: 10px; /* Add some space below the logo */
}


/* Contact Page Styles */
.contact-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
}

.contact-page h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.contact-page p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-details,
.pickup-delivery-info {
    font-size: 18px;
    margin-bottom: 40px;
}

.contact-details h2,
.pickup-delivery-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-form {
    margin-bottom: 40px;
}

.contact-form h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form input[type='tel'],
.contact-form textarea {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #58d5f5; /* Bubblegum blue */
    border-radius: 5px;
}

.contact-form textarea {
    resize: none;
}

.contact-form input[type='submit'] {
    font-size: 18px;
    font-weight: bold;
    background-color: #58d5f5; /* Bubblegum blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-form input[type='submit']:hover {
    background-color: #36c4f0;
}

